@import '~bootstrap/scss/bootstrap';

td {
  width: 100px;
  height: 100px;
}

table {
  margin: 5px auto;
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td:hover {
  background-color: rgb(166, 222, 245);
}

td:active {
  background-color: rgb(196, 226, 178);
}
